<div>
  <span><label><a class="breadcumb-link" href="/banco-preguntas/get">{{ 'QUESTIONS_BANK.QUESTIONS_BANK' | translate }}</a> / <label class="breadcumb-active">{{ 'QUESTIONS_BANK.ADD' | translate }}</label></label></span>
</div>
<div class="col-md-12">
  <mat-card class="solid-border-card">
    <form [formGroup]="bancoPreguntasForm" (ngSubmit)="!bancoPreguntasForm.invalid && createBancoPreguntas(bancoPreguntasForm.value)">
      <div>
        <div>
          <!-- nombre -->
          <div class="form-group mx-sm-3 mb-2" >
            <label for="tipoBanco" class="labeloverinput">{{ 'QUESTIONS_BANK.TIPO_BANCO' | translate }}</label>
            <input
              required
              type="text"
              id="tipoBanco"
              class="form-control"
              formControlName="tipoBanco"
              placeholder="{{ 'QUESTIONS_BANK.TIPO_BANCO' | translate}}"
            />
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="bancoPreguntasForm.get('tipoBanco')!.hasError('required') && bancoPreguntasForm.get('tipoBanco')!.touched"
            >
              {{ 'QUESTIONS_BANK.TIPO_BANCO_REQUIRED' | translate }}
            </div>
          </div>
          <div class="form-group mx-sm-3 mb-2" >
            <label for="categoria" class="labeloverinput">{{ 'QUESTIONS_BANK.CATEGORIA' | translate }}</label>
            <mat-select
              required
              id="categoria"
              class="form-control"
              formControlName="categoria"
            >
            <mat-option *ngFor="let categoria of listaCategorias" [value]="categoria">
              {{categoria?.nombre}}
            </mat-option>
            </mat-select>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="bancoPreguntasForm.get('categoria')!.hasError('required') && bancoPreguntasForm.get('categoria')!.touched"
            >
              {{ 'QUESTIONS_BANK.CATEGORIA_REQUIRED' | translate }}
            </div>
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!bancoPreguntasForm.valid"
          >
            <mat-icon>add</mat-icon>
            {{ 'QUESTIONS_BANK.ADD' | translate }}
          </button>
        </div>
      </div>
    </form>
  </mat-card>

</div>
