<div>
  <span><label><a class="breadcumb-link" href="/agenda-pruebas/get">{{ 'INTERVIEWS.TEST_SCHEDULE' | translate }}</a> / <label class="breadcumb-active">
    {{ 'INTERVIEWS.TEST_SCHEDULE_SAVE' | translate }}</label></label></span>
</div>
<div class="col-md-12">
  <mat-card class="project-card solid-border-card col-md-12">
    <form [formGroup]="teamForm" class="row">
      <div class="borde col-md-6" >
        <mat-select formControlName="project" placeholder="{{ 'TEAM.SELECT_PROJECT' | translate }}" style="height: 35px;" (selectionChange)="onProjectSelectionChange()">
          <mat-option *ngFor="let project of projects" [value]="project.id">{{ project.nombre }}</mat-option>
        </mat-select>
      </div>
      <div class="borde col-md-6">
        <mat-select formControlName="team" placeholder="{{ 'TEAM.SELECT_TEAM' | translate }}" style="height: 35px;"  (selectionChange)="onTeamSelectionChange()">
          <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.nombre }}</mat-option>
        </mat-select>
      </div>
      <div class="borde col-md-6">
        <mat-select formControlName="candidate" placeholder="{{ 'EVALUACION_DESEMPENO.SELECCIONAR_CANDIDATO' | translate }}" style="height: 35px;"  (selectionChange)="onCandidateSelectionChange()">
          <mat-option *ngFor="let candidato of listaCandidatos" [value]="candidato.id">[{{ candidato.numDocumento }}] {{ candidato.nombres }}  {{ candidato.apellidos }}</mat-option>
        </mat-select>
      </div>
      <div class="borde col-md-6">
        <mat-select formControlName="team" placeholder="{{ 'EVALUACION_DESEMPENO.SELECCIONAR_PRUEBA' | translate }}" style="height: 35px;"  (selectionChange)="onTeamSelectionChange()">
          <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.nombre }}</mat-option>
        </mat-select>
      </div>
    </form>
   </mat-card>
</div>
