<div class="container-fluid bg-light">
  <div class="row">
      <div class="col-5">
          <div class="row">
              <div class="card-body">
                  <img class="img-fluid" src="{{ artworkDetail.mainImage }}" alt="{{ artworkDetail.name }}">
              </div>
          </div>
      </div>
      <div class="col-7">
          <div class="card-body" name="artist_details">
              <h2 class="card-title">{{ artworkDetail.name }}</h2>
              <p class="card-text"><strong>Año:</strong> {{ artworkDetail.year }}</p>
              <p class="card-text"><strong>Tipo:</strong> {{ artworkDetail.type }}</p>
              <p class="card-text"> {{ artworkDetail.description }} </p>
          </div>
        <div class="collapseButton">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAddImage" aria-expanded="false" aria-controls="collapseAddImage">
                Associate an image
            </button>
        </div>
        <div class="collapse collapseCard" id="collapseAddImage">
            <div id="idArtista" value=""></div>
            <div class="card card-body cardAssociateImage">
                <input type="text" class="form-control" aria-describedby="basic-addon3" placeholder="https://example.com/image/" id="newImageArtwork">
                <button class="btn btn-success col-7" (click)="addImageArtwork()">
                    Associate
                </button>
            </div>
        </div>
      </div>
  </div>
</div>
