<div style="padding-bottom: 15px;padding-left: 10px;">
  <span><label>{{ 'LOGIN.COMPANYSELECT' | translate }} / <label style="text-decoration: underline;">{{ 'SIGNUP.HEADER' | translate }}</label></label></span>
</div>
<div class="d-flex align-items-center">
  <div class="signupContainer">
    <div class="row" style="width: 100%;">
      <div class="col-md-6" style="width: 30%;padding-right: 20px;">
        <mat-card class="signup-card-image">
          <div class="d-flex align-items-end flex-column" style="height: 200px;position: fixed;z-index: 2;padding-left: 180px;padding-top: 120px;">
            <label class="p-2 signuplogo1">ABC</label>
            <label class="p-2 signuplogo2">{{ 'LOGIN.LOGOJOBS' | translate }}</label>
          </div>
          <label class="col-md-6 signuplogo3">{{ 'SIGNUP.COMPANYS' | translate }}</label>
          <img mat-card-image src="../../../assets/Images/fondogeneral.png" style="height: 75vh;">
        </mat-card>
      </div>

      <div class="col-md-6" style="width: 70%;z-index: 2;">
        <mat-card style="height: 75vh;">
          <mat-card-header>
            <span mat-card-subtitle><label>{{ 'SIGNUP.HEADER' | translate }}</label></span>
          </mat-card-header>
          <mat-card-content style="margin-left: 75px;margin-right: 66px;margin-top: 20px;">
            <form
            [formGroup]="companyRForm"
            (ngSubmit)="!companyRForm.invalid && registerCompany()"
            >
              <!--Nombres-->
              <div class="form-group mx-sm-3 mb-2">
                <mat-form-field style="width: 100%;">
                  <mat-label>{{ 'SIGNUP.NAMES' | translate }}</mat-label>
                  <input formControlName="names" matInput type="text" [(ngModel)]="valueNames">
                  <button *ngIf="valueNames" matSuffix mat-icon-button aria-label="Names" (click)="valueNames=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <div style="position: fixed;z-index: 2;"
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    companyRForm.get('names')!.hasError('required') &&
                    companyRForm.get('names')!.touched
                  "
                >
                  {{ 'SIGNUP.NAMESREQUIRED' | translate }}
                </div>
              </div>

              <!--Apellidos-->
              <div class="form-group mx-sm-3 mb-2">
                <mat-form-field style="width: 100%;">
                  <mat-label>{{ 'SIGNUP.LASTNAMES' | translate }}</mat-label>
                  <input formControlName="lastnames" matInput type="text" [(ngModel)]="valuelastNames">
                  <button *ngIf="valuelastNames" matSuffix mat-icon-button aria-label="LastNames" (click)="valuelastNames=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <div style="position: fixed;z-index: 2;"
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    companyRForm.get('lastnames')!.hasError('required') &&
                    companyRForm.get('lastnames')!.touched
                  "
                >
                  {{ 'SIGNUP.LASTNAMESREQUIRED' | translate }}
                </div>
              </div>

              <!--Lista numero identificacion-->
              <div formGroupName="typeLogin" class="form-group mx-sm-3 mb-2">
                <select formControlName="id" (change)="selectChangeHandler($event)" class="form-control form-select" style="height: 60px;background-color: #E5E5E5;" ng-required="true">
                  <option value="0">
                    NIT
                  </option>
                </select>
              </div>

              <div class="form-group mx-sm-3 mb-2">
                <!--Numero identificacion-->
                <mat-form-field style="width: 70%;padding-right: 20px;">
                  <mat-label>{{ 'SIGNUP.NI' | translate }}</mat-label>
                  <input formControlName="ni" matInput type="text" [(ngModel)]="valuelastNI">
                  <button *ngIf="valuelastNI" matSuffix mat-icon-button aria-label="NI" (click)="valuelastNI=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <div style="position: fixed;z-index: 2;"
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    companyRForm.get('ni')!.hasError('required') &&
                    companyRForm.get('ni')!.touched
                  "
                >
                  {{ 'SIGNUP.NIREQUIRED' | translate }}
                </div>

                <!--DV-->
                <mat-form-field style="width: 30%;">
                  <mat-label>{{ 'SIGNUP.DV' | translate }}</mat-label>
                  <input formControlName="dv" matInput type="text" [(ngModel)]="valuelastDV">
                  <button *ngIf="valuelastDV" matSuffix mat-icon-button aria-label="DV" (click)="valuelastDV=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <div style="position: fixed;z-index: 2;"
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    companyRForm.get('dv')!.hasError('required') &&
                    companyRForm.get('dv')!.touched
                  "
                >
                  {{ 'SIGNUP.DVREQUIRED' | translate }}
                </div>
              </div>

              <!--Email-->
              <div class="form-group mx-sm-3 mb-2">
                <mat-form-field style="width: 100%;">
                  <mat-label>{{ 'SIGNUP.EMAIL' | translate }}</mat-label>
                  <input formControlName="email" matInput type="email" [(ngModel)]="valueEmail">
                  <button *ngIf="valueEmail" matSuffix mat-icon-button aria-label="Email" (click)="valueEmail=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <div style="position: fixed;z-index: 2;"
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    companyRForm.get('email')!.hasError('required') &&
                    companyRForm.get('email')!.touched
                  "
                >
                  {{ 'LOGIN.EMAILREQUIRED' | translate }}
                </div>
                <div style="position: fixed;z-index: 2;"
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="companyRForm.get('email')!.hasError('email')"
                >
                  {{ 'LOGIN.EMAILVALIDMSJ' | translate }}
                </div>
              </div>

              <div style="text-align: center;">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!companyRForm.valid"
                  class="button-signup"
                  mat-fab extended
                >
                <mat-icon style="color: black;">add</mat-icon>
                  {{ 'SIGNUP.TITLE' | translate }}
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
