<div class="container mt-4" >
 <h2 i18n="@@create_movement_title" class="text-center">Create a new movement</h2>
 <form
   [formGroup]="movementForm"
   (ngSubmit)="!movementForm.invalid && createMovement(movementForm.value)"
   >   
 <!--Name-->
   <div class="form-group mx-sm-3 mb-2">
     <label i18n="@@Name" for="name">Name</label>
     <input
       novalidate
       id="name"
       class="form-control"
       formControlName="name"
       placeholder="Movement's name"
     />
     <div
       i18n="@@Name_required" class="alert alert-danger alert-dismissible fade show"
       *ngIf="
         movementForm.get('name')!.hasError('required') &&
         movementForm.get('name')!.touched"
     >
       Name required
     </div>
     <div
       i18n="@@Name_short" class="alert alert-danger alert-dismissible fade show"
       *ngIf="movementForm.get('name')!.hasError('minlength')"
     >
       Name too short(Min 2 characters)
     </div>
   </div>
 
 <!--Description-->
   <div class="form-group mx-sm-3 mb-2">
     <label i18n="@@Description" for="description">Description</label>
     <textarea
       novalidate
       id="description"
       class="form-control"
       formControlName="description"
       placeholder="Movement's description"
     >
     </textarea>
     <div
       i18n="@@Description_required" class="alert alert-danger alert-dismissible fade show"
       *ngIf="
         movementForm.get('description')!.hasError('required') &&
         movementForm.get('description')!.touched"
     >
       Description required
     </div>
     <div
       i18n="@@Description_short" class="alert alert-danger alert-dismissible fade show"
       *ngIf="movementForm.get('description')!.hasError('minlength')"
     >
       Description too short (Min 5 characters)
     </div>
     <div
       i18n="@@Description_long" class="alert alert-danger alert-dismissible fade show"
       *ngIf="movementForm.get('description')!.hasError('maxlength')"
     >
       Description too long (Max 500 characters)
     </div>
   </div>
 
 <!--countryOfOrigin-->
   <div class="form-group mx-sm-3 mb-2">
     <label i18n="@@CountryOfOrigin" for="countryOfOrigin">Country of Origin</label>
     <input
       novalidate
       id="countryOfOrigin"
       class="form-control"
       formControlName="countryOfOrigin"
       placeholder="Movement's address"
     />
     <div
       i18n="@@Country_required" class="alert alert-danger alert-dismissible fade show"
       *ngIf="
         movementForm.get('countryOfOrigin')!.hasError('required') &&
         movementForm.get('countryOfOrigin')!.touched"
     >
       Country required
     </div>
     <div
       i18n="@@Country_short" class="alert alert-danger alert-dismissible fade show"
       *ngIf="movementForm.get('countryOfOrigin')!.hasError('minlength')"
     >
       Country too short (Min 2 characters)
     </div>
   </div>
 
 <!--activeYears-->
   <div class="form-group mx-sm-3 mb-2">
     <label i18n="@@Active_years" for="activeYears">Active Years</label>
     <input
       novalidate
       id="activeYears"
       class="form-control"
       formControlName="activeYears"
       placeholder="Movement's active years"
     />
     <div
       i18n="@@Years_required" class="alert alert-danger alert-dismissible fade show"
       *ngIf="
         movementForm.get('activeYears')!.hasError('required') &&
         movementForm.get('activeYears')!.touched"
     >
       Years active required
     </div>
     <div
       i18n="@@Years_short" class="alert alert-danger alert-dismissible fade show"
       *ngIf="movementForm.get('activeYears')!.hasError('minlength')"
     >
       Years active too short (Min 1 character)
     </div>
   </div>
 
 
 
 <div >
 <button i18n="@@Create" type="submit" class="btn btn-primary" [disabled]="!movementForm.valid">
     Create
   </button>
     &nbsp;&nbsp;
   <button i18n="@@Cancel" type="button" class="btn btn-danger ml-3"(click)="cancelCreation()">
     Cancel
   </button>
 </div>
 </form>
</div>
     
