<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-2">
            <div class="row">
                <div class="card-body">
                    <img class="img-fluid" src="{{ museumDetail.image }}" alt="{{ museumDetail.name }}">
                </div>
            </div>
            <div class="row">

                    <a i18n="@@exhibitions" routerLink="/exhibitions/list/{{ museumDetail.id }}" class="btn btn-primary">Exhibitions</a>
            </div>
        </div>
        <div class="col-8">
            <div class="card-body" name="museum_details">
                <h2 class="card-title">{{ museumDetail.name }}</h2>
                <p  class="card-text"><strong i18n="@@Address">Address:</strong> {{ museumDetail.address }}</p>
                <p  class="card-text"><strong i18n="@@City">City</strong> {{ museumDetail.city }}</p>
                <p  class="card-text">{{ museumDetail.description }}</p>
                 <p class="card-text"><strong i18n="@@exhibitions">Exhibitions:</strong> </p>
                <div *ngFor="let exhibition of museumDetail.exhibitions">
                        {{exhibition.name}}
                    <div>
             </div>
        </div>
    </div>
</div>
