<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="card">
      <div class="card-body">
        <app-categorias-list (categoriaSeleccionada)="categoriaSeleccionada($event)"></app-categorias-list>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{nombreCategoriaSeleccionada}}</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
