<h1 i18n="@@home">Home</h1>
<div class="d-flex align-items-center">
<div class="museumContainer">

  <div class="">
    <a routerLink="/principal/museums">
      <div class="museumCard">
        <img src="../../../assets/Images/museo_louvre.jpeg" class="card-img-top" alt="Museos" >
        <div class="card-body">
          <p  class="card-text"><strong i18n="@@museums">Museums</strong></p>
          <p i18n="@@card1_ppal">Meet the best</p>
        </div>
      </div>
    </a>
  </div>

  <div class="">
    <a routerLink="/principal/artists">
      <div class="museumCard">
        <img src="../../../assets/Images/picasso2.jpeg" class="card-img-top" alt="Artistas" >
        <div class="card-body">
          <p  class="card-text"><strong i18n="@@artists">Artists</strong></p>
          <p i18n="@@card2_ppal">The most influential</p>
        </div>
      </div>
    </a>
  </div>

  <div class="">
    <a routerLink="/obras/list">
      <div class="museumCard">
        <img src="../../../assets/Images/grito.jpeg" class="card-img-top" alt="Obras" >
        <div class="card-body">
          <p  class="card-text"><strong i18n="@@artworks">Artworks</strong></p>
          <p i18n="@@card3_ppal">The most recognized</p>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
