.button-add{
  border-radius: 5px;
  background: url(../../../assets/Images/fondogeneral.png), lightgray 50% / cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #FFF;
  margin-top: 50px;
  width: 15vw;
  height: 7vh;
}
