<mat-dialog-content *ngIf="iddialog==='1'" class="mat-typography" style="width: 25vw;height: 50vh;" align="center">
  <mat-icon style="color: #4D63B8;width: 50px;height: 50px;font-size: 50px;transform: scale(3);margin-top: 70px;">check_circle_outline</mat-icon>

  <h3 style="margin-top: 65px;color: black;font-weight: bold;">{{ 'SIGNUP.DIALOGMSJSUCCESSCOMPANY' | translate }}</h3>

  <button mat-button mat-dialog-close routerLink="/" style="margin-top: 25px;width: 15vw;height: 6vh;background: #4D63B8;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);color: #FFF;">{{ 'SIGNUP.DIALOGBUTTON' | translate }}</button>
</mat-dialog-content>

<mat-dialog-content *ngIf="iddialog==='2'" class="mat-typography" style="width: 25vw;height: 50vh;" align="center">
  <mat-icon style="color: #D33580;width: 50px;height: 50px;font-size: 50px;transform: scale(3);margin-top: 70px;">cancel</mat-icon>

  <h3 style="margin-top: 65px;color: black;font-weight: bold;">{{ 'SIGNUP.DIALOGMSJFAILEDCOMPANY' | translate }}</h3>

  <button mat-button mat-dialog-close routerLink="/" style="margin-top: 25px;width: 15vw;height: 6vh;background: #D33580;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);color: #FFF;">{{ 'SIGNUP.DIALOGBUTTON' | translate }}</button>
</mat-dialog-content>
