<div class="d-flex align-items-center">
  <div class="loginContainer">
    <div class="row" style="width: 100%;">
      <div class="col-md-6" style="width: 40%;padding-right: 20px;padding-top: 10px;">
        <mat-card class="login-card-image">
          <label class="col-md-6 loginlogo1">ABC</label>
          <label i18n="@@logojobs" class="col-md-6 loginlogo2">JOBS</label>
          <img mat-card-image src="../../../assets/Images/fondogeneral.png" style="height: 90vh;">
        </mat-card>
      </div>

      <div class="col-md-6" style="width: 60%;padding-top: 10px;z-index: 2;">
        <mat-card style="height: 90vh;">
          <mat-card-header style="margin-left: 90px;margin-top: 50px;">
            <mat-card-title i18n="@@login_header">Login</mat-card-title>
            <span style="display: -webkit-inline-box;" mat-card-subtitle><label i18n="@@loginsub_header">Don't have an account yet?</label>&nbsp;<a i18n="@@loginsignup_header" mat-card-subtitle routerLink="/exhibitions/create">Sign Up</a></span>
          </mat-card-header>
          <mat-card-content style="margin-left: 75px;margin-right: 66px;margin-top: 61px;">
            <form
              [formGroup]="loginForm"
              (ngSubmit)="!loginForm.invalid && goToApp()"
            >
              <!--Email-->
              <div class="form-group mx-sm-3 mb-2 input-wrapper">
                <label i18n="@@Email" for="email" class="labeloverinput">Email</label>
                <input
                  novalidate
                  type="email"
                  id="email"
                  class="form-control"
                  style="border-color: #6750A4;height: 60px;"
                  formControlName="email"
                  placeholder="Email"
                />
                <div i18n="@@Email_required" style="position: fixed;"
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    loginForm.get('email')!.hasError('required') &&
                    loginForm.get('email')!.touched
                  "
                >
                  Email required
                </div>
                <div i18n="@@Email_validmsj" style="position: fixed;"
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="loginForm.get('email')!.hasError('email')"
                >
                  Please enter a valid email address
                </div>
              </div>

              <!--Password-->
              <div class="form-group mx-sm-3 mb-2">
                <label i18n="@@Password" for="password" class="labeloverinput">Password</label>
                <input
                  novalidate
                  type="password"
                  id="password"
                  class="form-control"
                  style="border-color: #6750A4;height: 60px;"
                  formControlName="password"
                  placeholder="Password"
                />
                <div i18n="@@Password_required" style="position: fixed;"
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="
                    loginForm.get('password')!.hasError('required') &&
                    loginForm.get('password')!.touched
                  "
                >
                  Password required
                </div>
              </div>

              <div formGroupName="typeLogin" class="form-group mx-sm-3 mb-2">
                <select formControlName="id" (change)="selectChangeHandler($event)" class="form-control form-select" style="height: 60px;background-color: #E5E5E5;" ng-required="true">
                  <option value="0">
                    Empresa
                  </option>
                  <option value="1">
                    Candidato
                  </option>
                </select>
              </div>

              <div style="text-align: center;margin-top: 73px;">
                <button
                  i18n="@@login_header"
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!loginForm.valid"
                  class="button-login"
                >
                  Login
                </button>
              </div>
            </form>
          </mat-card-content>
          <mat-card-footer style="margin-left: 105px;">
            <a i18n="@@loginforgot_pass" mat-card-subtitle routerLink="/exhibitions/create">Forgotten password?</a>
          </mat-card-footer>
          <mat-card-footer style="margin-left: 35%;margin-top: auto;">
            <button mat-button extended class="bgiconlanguages" [style.backgroundImage]="'url(' + '../assets/Images/espanol.png' + ')'">
              <span i18n="@@lanesp_menu">Spanish</span>
            </button>

            <button mat-button extended class="bgiconlanguages" [style.backgroundImage]="'url(' + '../assets/Images/english.png' + ')'">
              <span i18n="@@laneng_menu">English</span>
            </button>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
