<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a i18n="@@logo" class="navbar-brand" href="#">Musearch</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a i18n="@@museos_menu" class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Museums</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a i18n="@@listar_menu" class="dropdown-item" routerLink="/museums/list">List</a></li>
            <li><a i18n="@@crear_menu" routerLink="/museums/create" i18n class="dropdown-item" >Create</a></li>
            <li><a i18n="@@editar_menu" class="dropdown-item" >Edit</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a i18n="@@obras_menu" class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artworks</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li><a i18n="@@crear_menu" class="dropdown-item" routerLink="/obras/create">Create</a></li>
            <li><a  i18n="@@listar_menu" class="dropdown-item" routerLink="/obras/list">List</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a i18n="@@artistas_menu" class="nav-link dropdown-toggle" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">Artists</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <li><a i18n="@@crear_menu" class="dropdown-item" routerLink="/artistas/create">Create</a></li>
            <li><a i18n="@@editar_menu" class="dropdown-item" href="#">Edit</a></li>
            <li><a i18n="@@listar_menu" class="dropdown-item" routerLink="/artistas/list">List</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown">
          <a i18n="@@patrocinadores_menu" class="nav-link dropdown-toggle" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sponsors</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
            <li><a i18n="@@crear_menu" class="dropdown-item" routerLink="/sponsors/create">Create</a></li>
            <li><a i18n="@@listar_menu" class="dropdown-item" routerLink="/sponsors/list">List</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a i18n="@@movimientos_menu" class="nav-link dropdown-toggle" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" aria-expanded="false">Movements</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown6">
            <li><a i18n="@@crear_menu" class="dropdown-item" routerLink="/movements/create">Create</a></li>
          </ul>
        </li>
        
      </ul>
      <form class="d-flex">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>

<div style="height: 100%;overflow-y:auto;padding-bottom:10%;">
    <main role="main">
    <div class="container-fluid" id="principal">
    <div class="row">
          <div class="col-md-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    </main>
</div>

<div style="position: fixed;bottom: 0;left:0;width:100%">
    <footer>
      <table class="table-dark col-md-12" border="0">
        <caption>Footer table</caption>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="co"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-dark">
              <td  style="padding-left: 35px;">Musearch 2022</td>
              <td>
                  Folow us
                <a href="#"><img src="../assets/Images/facebook (1) 1.png" alt="Facebook" width="50px" height="50px"></a>
                <a href="#"><img src="../assets/Images/gorjeo 1.png" alt="Twitter" width="50px" height="50px"></a>
                <a href="#"><img src="../assets/Images/instagram 1.png" alt="Instagram" width="50px" height="50px"></a>
              </td>
            </tr>
          </tbody>
        </table>
    </footer>
</div>
