<nav *ngIf="showHead" class="navbar navbar-expand-lg navbar-headerpro">
  <div class="container-fluid">
    <a class="navbar-brand navbar-brand-printitle" routerLink="/principal">{{ 'HEADER.LOGO' | translate }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="showOptions" class="nav-item dropdown">
          <a class="nav-link nav-link-menupri dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">{{ 'HEADER.PROJECTTITLE' | translate }}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/projects/get">{{ 'HEADER.BUTTONLIST' | translate }}</a></li>
            <li><a routerLink="/projects/create" class="dropdown-item" >{{ 'HEADER.BUTTONCREATE' | translate }}</a></li>
          </ul>
        </li>

        <li *ngIf="showOptions" class="nav-item dropdown">
          <a class="nav-link nav-link-menupri dropdown-toggle" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ 'HEADER.BANCOPREMENU' | translate }}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li><a class="dropdown-item" routerLink="/banco-preguntas/get">{{ 'HEADER.BUTTONLIST' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/banco-preguntas/create">{{ 'HEADER.BUTTONCREATE' | translate }}</a></li>
          </ul>
        </li>


        <li *ngIf="showOptions" class="nav-item dropdown">
          <a class="nav-link nav-link-menupri dropdown-toggle" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ 'HEADER.CANDIDATOSMENU' | translate }}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <li><a class="dropdown-item" routerLink="/applicantsearch/get">{{ 'HEADER.BUTTONSEARCH' | translate }}</a></li>
          </ul>
        </li>

        <li *ngIf="showOptions" class="nav-item dropdown">
          <a class="nav-link nav-link-menupri dropdown-toggle" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ 'HEADER.EQUIPOSMENU' | translate }}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
            <li><a class="dropdown-item" routerLink="/team/list">{{ 'HEADER.BUTTONLIST' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/team/create">{{ 'HEADER.BUTTONCREATE' | translate }}</a></li>
          </ul>
        </li>

        <li *ngIf="showOptions" class="nav-item dropdown">
          <a class="nav-link nav-link-menupri dropdown-toggle" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ 'HEADER.PRUEBASMENU' | translate }}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown6">
            <li><a class="dropdown-item" routerLink="/agenda-pruebas/get">{{ 'HEADER.BUTTONLIST' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/agenda-pruebas/save">{{ 'HEADER.BUTTONCREATE' | translate }}</a></li>
          </ul>
        </li>

        <li *ngIf="showOptions" class="nav-item dropdown">
          <a class="nav-link nav-link-menupri dropdown-toggle" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ 'HEADER.GROUPTEST' | translate }}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown6">
            <li><a class="dropdown-item" routerLink="/conjunto-pruebas/list">{{ 'HEADER.BUTTONLIST' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/conjunto-pruebas/create">{{ 'HEADER.BUTTONCREATE' | translate }}</a></li>
          </ul>
        </li>

        <li *ngIf="showOptions" class="nav-item dropdown">
          <a class="nav-link nav-link-menupri dropdown-toggle" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ 'HEADER.PROFILE' | translate }}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li><a class="dropdown-item" routerLink="/profile/create">Create</a></li>
              </ul>
        </li>


      </ul>


      <button *ngIf="showMenu" mat-fab class="bgimagefab" [matMenuTriggerFor]="menu"
        [style.backgroundImage]="'url(' + '../assets/Images/fabcirclebuttonimg.jpg' + ')'">
      </button>

      <mat-menu #menu="matMenu" class="mat-menu-panel">
        <button mat-menu-item class="bgiconlogout" (click)="myprofile()" [style.backgroundImage]="'url(' + '../assets/Images/myprofile.svg' + ')'">
          <span style="padding-left: 30px;">
            <a>{{ 'HEADER.MYPROFILEMENU' | translate }}</a>
          </span>
        </button>

        <button mat-button class="bgiconlanguages" (click)="changeLang('es')" [matMenuTriggerFor]="aboveMenu" [style.backgroundImage]="'url(' + '../assets/Images/espanol.png' + ')'">
          <span style="padding-left: 30px;">{{ 'HEADER.LANESPMENU' | translate }}</span>
        </button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
        </mat-menu>

        <button mat-button class="bgiconlanguages" (click)="changeLang('en')" [matMenuTriggerFor]="belowMenu" [style.backgroundImage]="'url(' + '../assets/Images/english.png' + ')'">
          <span style="padding-left: 30px;">{{ 'HEADER.LANENGMENU' | translate }}</span>
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
        </mat-menu>

        <mat-divider></mat-divider>
        <button mat-menu-item class="bgiconlogout" [style.backgroundImage]="'url(' + '../assets/Images/logoutIcon.svg' + ')'" (click)="logout()">
          <span style="padding-left: 30px;">{{ 'HEADER.LOGOUTMENU' | translate }}</span>
        </button>
      </mat-menu>
    </div>
  </div>
</nav>

<div style="overflow-y:auto;padding-bottom:10%;">
    <main role="main">
    <div class="container-fluid" id="login">
      <div class="row">
          <div class="col-md-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    </main>
</div>
