<mat-dialog-content class="mat-typography" style="width: 25vw;height: 50vh;" align="center">
  <h3 style="margin-top: 65px;color: black;font-weight: bold;">{{ 'PRINCIPAL.DIALOGMSJSKILLAPPLICANT' | translate }}</h3>

  <button mat-button mat-dialog-close routerLink="/applicant/skills" style="margin-top: 25px;width: 15vw;height: 6vh;background: #4D63B8;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);color: #FFF;">{{ 'PRINCIPAL.BUTTONSKILLS' | translate }}</button>
  <button mat-button mat-dialog-close style="margin-top: 25px;width: 15vw;height: 6vh;background: #D33580;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);color: #FFF;">{{ 'PRINCIPAL.BUTTONCONTINUE' | translate }}</button>
</mat-dialog-content>
