<div class="container mt-4">
  <h2 i18n="@@create_exhibition_title" class="text-center">Create a new Exhibition</h2>
  <form
    [formGroup]="exhibitionForm"
    (ngSubmit)="!exhibitionForm.invalid && createExhibition(exhibitionForm.value)"
  >
    <!--Name-->
    <div class="form-group mx-sm-3 mb-2">
      <label i18n="@@Name" for="name">Name</label>
      <input
        novalidate
        id="name"
        class="form-control"
        formControlName="name"
        placeholder="Exhibition name"
      />
      <div i18n="@@Name_required"
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          exhibitionForm.get('name')!.hasError('required') &&
          exhibitionForm.get('name')!.touched
        "
      >
        Name required
      </div>
      <div i18n="@@Name_short"
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="exhibitionForm.get('name')!.hasError('minlength')"
      >
        Name too short
      </div>
    </div>

    <!--Description-->
    <div class="form-group mx-sm-3 mb-2">
      <label i18n="@@Description" for="description">Description</label>
      <input
        novalidate
        id="description"
        class="form-control"
        formControlName="description"
        placeholder="Exhibition short description"
      />
      <div i18n="@@Description_required"
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          exhibitionForm.get('description')!.hasError('required') &&
          exhibitionForm.get('description')!.touched
        "
      >
        Description required
      </div>
      <div i18n="@@Description_long"
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="exhibitionForm.get('description')!.hasError('maxlength')"
      >
        Description too long
      </div>
    </div>

    <div formGroupName="sponsor" class="form-group mx-sm-3 mb-2">
      <label i18n="@@sponsors" for="sponsor">Sponsor</label>
      <select formControlName="id" (change)="selectChangeHandler($event)" class="form-control" ng-required="true">
        <option i18n="@@select_option" value="" selected disabled hidden>Select an Option</option>
        <option *ngFor="let spo of sponsors; let i = index" value="{{sponsors[i].id}}">
          {{sponsors[i].name}}
        </option>
      </select>
    </div>

    <div style="text-align: center;">
      <button
        i18n="@@Create"
        type="submit"
        class="btn btn-primary"
        [disabled]="!exhibitionForm.valid"
      >
        Create
      </button>
        &nbsp;&nbsp;
      <button
        i18n="@@Cancel"
        type="button"
        class="btn btn-danger ml-3"
        (click)="cancelCreation()"
      >
        Cancel
      </button>
    </div>
  </form>
 </div>
