<mat-dialog-content class="mat-typography" style="max-width: 25vw;" align="center">
  <h3 i18n="@@logindialogtitle_signup">Are you trying to create a user like?</h3>

  <button mat-button i18n="@@logindialogemp_signup" mat-dialog-close routerLink="/signup/company" style="width: 15vw;height: 10vh;background: #D33580;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);color: #FFF;">COMPANY</button>

  <h3 i18n="@@logindialogor_signup">ó</h3>

  <button mat-button i18n="@@logindialogcand_signup" mat-dialog-close routerLink="/signup/applicant" style="width: 15vw;height: 10vh;background: #4D63B8;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);color: #FFF">APPLICANT</button>
</mat-dialog-content>
