<div class="col-md-12 center-container" style="z-index: 2;">
  <div style="position: fixed;margin-right: 80%;z-index: 4;" align="left">
    <button mat-fab extended class="col-md-3 btn btn-primary" class="button-signup" routerLink="/applicant/skills">
      <mat-icon style="color: black;">add</mat-icon>
      {{ 'PRINCIPAL.BUTTONSKILLS' | translate }}
    </button>
  </div>
  <mat-card style="height: 75vh;align-items: center;">
    <mat-card-header>
      <span mat-card-subtitle><label>{{ 'LOGIN.APPLICANTSELECT' | translate }}</label></span>
    </mat-card-header>
    <mat-card-content style="margin-left: 75px;margin-right: 66px;margin-top: 20px;">
      <form
      [formGroup]="applicantRForm"
      (ngSubmit)="!applicantRForm.invalid && editApplicant(applicantRForm.value)"
      >
        <!--Nombres-->
        <div class="form-group mx-sm-3 mb-2">
          <mat-form-field style="width: 100%;" class="mat-form-field-wrapper">
            <mat-label>{{ 'SIGNUP.NAMES' | translate }}</mat-label>
            <input formControlName="nombres" matInput type="text" [(ngModel)]="valueNames">
            <button *ngIf="valueNames" matSuffix mat-icon-button aria-label="Names" (click)="valueNames=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div style="position: fixed;z-index: 2;"
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="
              applicantRForm.get('nombres')!.hasError('required') &&
              applicantRForm.get('nombres')!.touched
            "
          >
            {{ 'SIGNUP.NAMESREQUIRED' | translate }}
          </div>
        </div>

        <!--Apellidos-->
        <div class="form-group mx-sm-3 mb-2">
          <mat-form-field style="width: 100%;" class="mat-form-field-wrapper">
            <mat-label>{{ 'SIGNUP.LASTNAMES' | translate }}</mat-label>
            <input formControlName="apellidos" matInput type="text" [(ngModel)]="valuelastNames">
            <button *ngIf="valuelastNames" matSuffix mat-icon-button aria-label="LastNames" (click)="valuelastNames=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div style="position: fixed;z-index: 2;"
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="
              applicantRForm.get('apellidos')!.hasError('required') &&
              applicantRForm.get('apellidos')!.touched
            "
          >
            {{ 'SIGNUP.LASTNAMESREQUIRED' | translate }}
          </div>
        </div>

        <!--Lista numero identificacion-->
        <div class="form-group mx-sm-3 mb-2">
          <select formControlName="tipoDocumento" (change)="selectChangeHandler($event)" class="form-control form-select" style="height: 60px;background-color: #E5E5E5;" ng-required="true">
            <option value="C.C.">
              {{ 'SIGNUP.CC' | translate }}
            </option>
            <option value="C.E.">
              {{ 'SIGNUP.CE' | translate }}
            </option>
          </select>
        </div>

        <div class="form-group mx-sm-3 mb-2">
          <!--Numero identificacion-->
          <mat-form-field style="width: 50%;padding-right: 20px;" class="mat-form-field-wrapper">
            <mat-label>{{ 'SIGNUP.NI' | translate }}</mat-label>
            <input formControlName="numDocumento" matInput type="text" [(ngModel)]="valuelastNI">
            <button *ngIf="valuelastNI" matSuffix mat-icon-button aria-label="NI" (click)="valuelastNI=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div style="position: fixed;z-index: 2;"
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="
              applicantRForm.get('numDocumento')!.hasError('required') &&
              applicantRForm.get('numDocumento')!.touched
            "
          >
            {{ 'SIGNUP.NIREQUIRED' | translate }}
          </div>

          <!--Numero de celular-->
          <mat-form-field style="width: 50%;" class="mat-form-field-wrapper">
            <mat-label>{{ 'SIGNUP.PHONE' | translate }}</mat-label>
            <input formControlName="celular" matInput type="text" [(ngModel)]="valuePhone">
            <button *ngIf="valuePhone" matSuffix mat-icon-button aria-label="Phone" (click)="valuePhone=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div style="position: fixed;z-index: 2;"
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="
              applicantRForm.get('celular')!.hasError('required') &&
              applicantRForm.get('celular')!.touched
            "
          >
            {{ 'SIGNUP.PHONEREQUIRED' | translate }}
          </div>
        </div>

        <!--Email-->
        <div class="form-group mx-sm-3 mb-2">
          <mat-form-field style="width: 100%;" class="mat-form-field-wrapper">
            <mat-label>{{ 'SIGNUP.EMAIL' | translate }}</mat-label>
            <input formControlName="email" matInput type="email" [(ngModel)]="valueEmail">
            <button *ngIf="valueEmail" matSuffix mat-icon-button aria-label="Email" (click)="valueEmail=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div style="position: fixed;z-index: 2;"
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="
              applicantRForm.get('email')!.hasError('required') &&
              applicantRForm.get('email')!.touched
            "
          >
            {{ 'LOGIN.EMAILREQUIRED' | translate }}
          </div>
          <div style="position: fixed;z-index: 2;"
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="applicantRForm.get('email')!.hasError('email')"
          >
            {{ 'LOGIN.EMAILVALIDMSJ' | translate }}
          </div>
        </div>

        <!--Password-->
        <div class="form-group mx-sm-3 mb-2">
          <mat-form-field style="width: 100%;" class="mat-form-field-wrapper">
            <mat-label>{{ 'SIGNUP.PASSWORD' | translate }}</mat-label>
            <input formControlName="password" matInput type="password" [(ngModel)]="valuePassword">
            <button *ngIf="valuePassword" matSuffix mat-icon-button aria-label="Password" (click)="valuePassword=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div style="position: fixed;z-index: 2;"
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="
              applicantRForm.get('password')!.hasError('required') &&
              applicantRForm.get('password')!.touched
            "
          >
            {{ 'SIGNUP.PASSWORDREQUIRED' | translate }}
          </div>
        </div>

        <div style="text-align: center;">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!applicantRForm.valid"
            class="button-signup"
            mat-fab extended
          >
          <mat-icon style="color: black;">add</mat-icon>
            {{ 'EVALUATION.SAVE' | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
