/* Definición del CSS */

.breadcumb-active{
    text-decoration: underline;
  }
  .breadcumb-link:visited{
    color: black;
  }
  .form-control{
    border-color: #6750A4;
    height: 60px;
    border-width: 3px;
  }
  
  mat-icon{
    color: white;
    float: left;
  }
  button.btn-primary{
    float: right;
    margin: 24px;
  }
  .solid-border-card{
    margin-top: 8px;
  }
  
  .labeloverinput {
    position: relative;
    top: 0.7em;
    z-index: 1;
    left: 2em;
    background-color: white;
    padding: 0 5px;
    color: #6750A4;
  }
  
  .mat-card-item {
    margin-bottom: 10px; 
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    grid-gap: 8px; /* Espacio entre las tarjetas */


  }
  .card {
    flex: 1;
    margin: 8px; /* Espacio entre las tarjetas */
    color: FEF7FF;
    
  }

  
  .check-icon {
    font-size: 16px; /* Tamaño del ícono */
    width: 24px; /* Tamaño del fondo */
    height: 24px; /* Tamaño del fondo */
    color: white;
    background-color: #6750A4; /* Fondo morado */
    border-radius: 4px; /* Bordes cuadrados */
    position: absolute;
    top: 15px; /* Ajusta la posición vertical según tu preferencia */
    right: 8px; /* Ajusta la posición horizontal según tu preferencia */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .project-card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
  }
  .project-card {
    font-family: 'Roboto', sans-serif; /* Estilo de fuente Roboto */
    padding-right: 10%;
    color: var(--m-3-sys-light-on-surface-variant, #49454F);
    /* M3/body/medium */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
  }
  

  mat-card-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    grid-gap: 8px; /* Espacio entre las tarjetas */
}