<div class="col-md-6" style="width: 100%; z-index: 2;">
  <mat-card class="project-card solid-border-card" style="height: auto; margin: 5px; padding: 10px;">
    <form [formGroup]="teamForm" (ngSubmit)="!teamForm.invalid && createTeam(teamForm.value)">
      <div style="display: flex; justify-content: center; align-items: center;">
        <div style="flex: 1; margin-right: 10px;">
          <div class="form-group mx-sm-3 mb-2 input-wrapper">
            <label for="nombre" class="labeloverinput">{{ 'TEAM.NAME' | translate }}</label>
            <input
              novalidate
              type="text"
              id="nombre"
              class="form-control small-width"
              style="border-color: #6750A4; height: 60px; border-width: 3px;"
              formControlName="nombre" 
              required 
              minlength=""
            />
            <div style="position: fixed; z-index: 2;"
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="teamForm.get('nombre')!.hasError('required') && teamForm.get('nombre')!.touched">
              {{ 'TEAM.TEAMREQUIRED' | translate }}
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-12" style="z-index: 2;">
        <mat-card class="project-card solid-border-card" style="height: auto; margin: 5px; padding: 5px; width: 100%;">
          <div style="display: flex; justify-content: space-between;">
            <div style="flex: 1; margin-right: 10px;">
              <div class="form-group" style="padding: 25px">
                 <div class="borde" style="height: 58px; padding: 20px">
                  <mat-select formControlName="profile" placeholder="{{ 'TEAM.SELECT_PROFILE' | translate }}" style="height: 35px;">
                    <mat-option *ngFor="let profile of profiles" [value]="profile.name">{{ profile.name }}</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
            <div style="flex: 1;">
              <div class="form-group">
                <label for="qtyrecursos" class="labeloverinput">{{ 'TEAM.TEAMQTY' | translate }}</label>
                <input
                  novalidate
                  type="text"
                  id="qtyrecursos"
                  class="form-control"
                  style="border-color: #6750A4; height: 60px; border-width: 3px;"
                  formControlName="qtyrecursos"
                  required 
                />
                <div style="position: fixed; z-index: 2;"
                  class="alert alert-danger alert-dismissible fade show"
                  *ngIf="teamForm.get('qtyrecursos')!.hasError('required') && teamForm.get('qtyrecursos')!.touched">
                  {{ 'TEAM.TEAMQTYREQUIRED' | translate }}
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      
      <!-- Botón de envío -->
      <div style="display: flex; justify-content: flex-end; margin-top: 35px;">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!teamForm.valid"
          class="button-signup"
          mat-fab extended
        >
          <mat-icon style="color: black;">  add </mat-icon>
          {{ 'TEAM.ADD' | translate }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
