<h1 i18n="@@artist_list_title">Artists List</h1>
<div class="bg-transparent">
  <br>
  <div class="row col-12">
    <div class="col-4" style="overflow-y: auto;">
      <div class="list-group" *ngFor="let artist of artists">
        <a class="list-group-item list-group-item-action" (click)="onSelected(artist)" style="width: 80%;">{{ artist.name }} </a>
      </div>
    </div>
    <div class="col-8">
      <div *ngIf="selected">
        <app-artist-detail [artistDetail]="selectedArtist"></app-artist-detail>
      </div>
    </div>
  </div>
  <br>
</div>
