<div class="container mt-4">
  <h2 i18n="@@create_artwork_title" class="text-center">Create a new Artwork</h2>
  <form
    [formGroup]="artworkForm"
    (ngSubmit)="!artworkForm.invalid && createArtwork(artworkForm.value)"
  >
    <!--Name-->
    <div class="form-group mx-sm-3 mb-2">
      <label i18n="@@Name" for="name">Name</label>
      <input
        novalidate
        id="name"
        class="form-control"
        formControlName="name"
        placeholder="Artwork name"
      />
      <div i18n="@@Name_required"
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          artworkForm.get('name')!.hasError('required') &&
          artworkForm.get('name')!.touched
        "
      >
        Name required
      </div>
      <div i18n="@@Name_short"
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="artworkForm.get('name')!.hasError('minlength')"
      >
        Name too short
      </div>
    </div>

    <!--Description-->
    <div class="form-group mx-sm-3 mb-2">
      <label i18n="@@Description" for="description">Description</label>
      <input
        novalidate
        id="description"
        class="form-control"
        formControlName="description"
        placeholder="Artwork short description"
      />
      <div i18n="@@Description_required"
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          artworkForm.get('description')!.hasError('required') &&
          artworkForm.get('description')!.touched
        "
      >
        Description required
      </div>
      <div i18n="@@Description_long"
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="artworkForm.get('description')!.hasError('maxlength')"
      >
        Description too long
      </div>
    </div>

    <!--Year-->
    <div class="form-group mx-sm-3 mb-2">
      <label i18n="@@year_artwork" for="year">Year</label>
      <input
        novalidate
        id="year"
        class="form-control"
        formControlName="year"
        placeholder="Publish Year"
      />
      <div i18n="@@year_artwork_required"
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          artworkForm.get('year')!.hasError('required') &&
          artworkForm.get('year')!.touched
        "
      >
        Year required
      </div>
      <div i18n="@@year_artwork_long"
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="artworkForm.get('year')!.hasError('maxlength')"
      >
        Year too long
      </div>
    </div>

    <!--List of Types-->
    <div class="form-group mx-sm-3 mb-2">
      <label i18n="@@types" for="type">Types</label>
      <select formControlName="type" (change)="selectChangeHandler($event)" class="form-control" ng-required="true">
        <option i18n="@@select_option" value="" selected disabled hidden>Select an Option</option>
        <option value="Painting">Painting</option>
        <option value="Object">Object</option>
      </select>
    </div>

    <!--List of Artists-->
    <div class="form-group mx-sm-3 mb-2">
      <label i18n="@@artist" for="artist">Artists</label>
      <select (change)="selectChangeHandler2($event)" class="form-control" ng-required="true">
        <option i18n="@@select_option" value="" selected disabled hidden>Select an Option</option>
        <option *ngFor="let artist of artists" value="{{artist.id}}">
          {{artist.name}}
        </option>
      </select>
    </div>

    <!--Main Image-->
    <div class="form-group mx-sm-3 mb-2">
      <label i18n="@@main_image" for="mainImage">Main Image</label>
      <input
        novalidate
        id="mainImage"
        class="form-control"
        formControlName="mainImage"
        placeholder="Main Image"
      />
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="artworkForm.get('mainImage')!.hasError('maxlength')"
      >
        Main Image too long
      </div>
    </div>

    <div style="text-align: center;">
      <button
        i18n="@@Create"
        type="submit"
        class="btn btn-primary"
        [disabled]="!artworkForm.valid"
      >
        Create
      </button>
        &nbsp;&nbsp;
      <button
        i18n="@@Cancel"
        type="button"
        class="btn btn-danger ml-3"
        (click)="cancelCreation()"
      >
        Cancel
      </button>
    </div>
  </form>
 </div>

