<div>
  <h1 i18n="@@list_sponsor_title">Sponsor List</h1>
</div>
<div style="background-color: #ffffff;height: 85vh;">
  <div class="row col-12">
    <div class="col-4" style="overflow-y: auto;height: 77vh;">
      <div class="list-group" *ngFor="let spo of sponsors">
        <a class="list-group-item list-group-item-action" (click)="onSelected(spo)" style="width: 80%;">{{ spo.name }}</a>
      </div>
    </div>
    <div class="col-8">
      <div *ngIf="selected">
        <app-sponsor-details [sponsorDetail]="selectedSponsor"></app-sponsor-details>
      </div>
    </div>
  </div>
</div>
